```gitignore
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/

# Coverage / tests
.coverage
htmlcov/

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log